  <div class="navbar-absolute">
  <%= render "shared/tvnavbar" %>
  <% url = "http://www.der.sp.gov.br/WebSite/Index.aspx" %>
  <% html_file = URI.open(url).read %>
  <% html_doc = Nokogiri::HTML(html_file) %>
  <%= html_doc.search('#divCondicoes').text %>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <div class="card mt-4 mb-5">
            <div class="card-category">
              <div>
                <h1>Weather in <span id="city"></span></h1>
                <h2 id="description"></h2>
                <div>
                  <div class="d-flex">
                    <img src="" alt="" id="icon">
                    <h2 id="temperature"></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div><h2 class="text-center"> Info</h2></div>


   <h2 class ="text-center">Latest   news</h2>
        <p>
          <iframe src="https://www.concessionariatamoios.com.br/noticias"width="300" height="300">
            <p>No news!</p>
          </iframe>
         </p>

    <a href="https://www.concessionariatamoios.com.br/cameras/ver/12"><h2 class ="text-center">Cameras</h2></a>

<div class="container">
<h2 class="text-center"> Which route do you wanna take?</h2>
<!--<h2 class="text-center"><%= Google::Maps.duration(@origin_destination_routes.first.origin.name + ' SP' + ' Brazil', @origin_destination_routes.first.destination.name + ' SP' + ' Brazil') %></h1> -->

<div class="text-center">
  <% @origin_destination_routes.each do |odr| %>
  <div class="chart-box" data-route = "<%=odr.name%>">
  <div class="routes">
    <h2 class="text-center route-title" data-road-destination = "<%=odr.id%>"><%= odr.name %></h2>
    <div class="charts-flex">
      <% @graph_data.each do |key, value| %>
      <% roads = []  %>
      <% odr.roads.each do |road| roads << road.name end%>
        <% if roads.include? key.to_s  %>
            <div class="gchart chart_div_<%=key.to_s%> m-4 d-none" data-road-destination = "<%=odr.id%>"></div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
  <% end %>
</div>

<div class="new-trip-form fade">
<h1 class="text-center">Choose your road options and departure time</h1>
<div class="mb-4">
  <%= simple_form_for @trip do |f| %>
    <%= f.input :origin_destination_routes, collection: @origin_destination_routes, label: 'Route' %>
    <%= f.input :time, label: 'Departure Time', collection: Trip::DEPARTURE_TIME%>
    <%= f.input :date, readonly: true %>
    <%= f.submit %>
  <% end %>
</div>
</div>
</div>



    <script type="text/javascript">

     const routeOptions = document.querySelectorAll('.routes')

      routeOptions.forEach((route) => {
        let title = route.querySelector('h2')
        let graphs = route.querySelectorAll('.gchart')
        title.addEventListener('click', (event) => {
          graphs.forEach(graph => {
            graph.classList.remove('d-none');
            drawChart();
          });
        })
      });

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      // google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        for (var road in gon.graph_data) {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Hours');
        data.addColumn('number', 'cars');
        data_array = [];
        graph_data = gon.graph_data[road];
        for (var key in graph_data) {
          array = [key, graph_data[key]*10];
          data_array.push(array);
        }
        data.addRows(data_array);

        // Set chart options
        var options = {'title':road,
                       'width':500,
                       'height':300,
                       'colors':['#AA8DD8'],
                       'backgroundColor':'#f0ddbc',
                        vAxis: {
                          gridlines: {
                            color: 'transparent',
                            interval: 0
                          }
                        },
                        animation: {
                          startup: true,
                          duration: 3000
                        }
        }

        const departureTime = document.querySelector('#trip_time');
        const routeForm = document.querySelector('#trip_origin_destination_routes');

        elements = document.querySelectorAll(`.chart_div_${road}`)

        elements.forEach(element => {
          let originDestinationRoad = element.dataset.roadDestination
          var chart = new google.visualization.ColumnChart(element);

          function selectHandler() {
          var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
              var horario = data.getValue(selectedItem.row, 0);
              // alert('The user selected ' + horario);
              console.log('<%Destination.all.first%>')

              departureTime.value = horario;
              routeForm.value = originDestinationRoad
            }
          }

          google.visualization.events.addListener(chart, 'select', selectHandler);
          chart.draw(data, options)
        });
        }
      }

    </script>
