<%= render "shared/tvnavbar" %>
<h1 class="text-center">My Trips</h1>


<div class="container">
  <div class="trips-flex">
    <% @trips.each do |trip| %>
    <div class="trip-card">
        <p><%= trip.date %></p>
        <p><%= trip.time %></p>
        <%= link_to 'check trip', trip_path(trip) %>
        <%= link_to 'cancel trip', trip_path(trip), method: :delete, data: {confirm: "Are you sure?"}  %>
    </div>
        <% end  %>
  </div>
</div>




    <%# @origin = params[:new_trip][:origin]
    @destination = params[:new_trip][:destination]
    @year = params[:new_trip]["day(1i)"]
    @month = params[:new_trip]["day(2i)"]
    @day = params[:new_trip]["day(3i)"] %>
