<div class="navbar-absolute">
  <%= render "shared/tvnavbar" %>
</div>
<div class="container">
<h1 class="text-center py-3" style='font-size: 60px;'>My Trips</h1>
  <div class="trips-flex">
    <% @trips.where("date >= '#{Date.today}'").each do |trip| %>
      <div class="trip-card">
        <h2 class='text-center pt-3'><%= trip.origin_destination_routes.name %></h2>
        <%# <div class="d-flex justify-content-around py-3"> %>
          <p class="mb-1 ml-2">Origin: <%= trip.origin_destination_routes.origin.name %></p>
          <p class="mb-1 ml-2">Destination: <%= trip.origin_destination_routes.destination.name  %></p>
          <p class="mb-1 ml-2">Date: <%= trip.date %></p>
          <p class = 'ml-2'>Departure Time: <%= "#{trip.time.to_i}h" %></p>
        <%# </div> %>
        <div class="d-flex justify-content-around pb-3">
          <%= link_to 'check trip', trip_path(trip) %>
          <%= link_to 'cancel trip', trip_path(trip), method: :delete, data: {confirm: "Are you sure?"}, remote: true  %>
        </div>
      </div>
    <% end  %>
  </div>
<h1 class="text-center py-3" style='font-size: 60px;'>Past Trips</h1>
  <div class="trips-flex">
    <% @trips.where("date < '#{Date.today.to_date}'").each do |trip| %>
      <div class="trip-card">
        <h2 class='text-center pt-3'><%= trip.origin_destination_routes.name %></h2>
        <%# <div class="d-flex justify-content-around py-3"> %>
          <p class="mb-1 ml-2">Origin: <%= trip.origin_destination_routes.origin.name %></p>
          <p class="mb-1 ml-2">Destination: <%= trip.origin_destination_routes.destination.name  %></p>
          <p class="mb-1 ml-2">Date: <%= trip.date %></p>
          <p class = 'ml-2'>Departure Time: <%= "#{trip.time.to_i}h" %></p>
        <%# </div> %>
        <div class="d-flex justify-content-around pb-3">
          <%= link_to 'review trip', review_trip_path(trip) %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
