<div class="navbar-absolute">
  <%= render "shared/tvnavbar" %>
</div>

<div class="container trip-review">
  <h1 class="text-center mt-4">Trip Review</h1>
  <div class="row justify-content-md-center">
    <div class="col-sm-7" id="form-box">
      <%= simple_form_for @trip do |f| %>
        <%= f.input :date, as: :string, input_html: { class:'flex-grow-1 datepicker' }%>
        <%= f.input :time, label: 'Departure Time', collection: Trip::DEPARTURE_TIME, input_html: { class:'flex-grow-1' }%>
        <%= f.input :actual_duration, label: 'Actual trip duration', as: :time %>
        <div class="d-flex justify-content-center"><%= f.submit class: 'btn'%></div>
      <% end  %>
        <i class="fas fa-info" data-bs-container="body" data-bs-toggle="popover"  data-bs-trigger="hover focus" data-bs-placement="right" data-bs-content="With this data, we can work on make better estimations for your trip times!"></i>

 </div>
  </div>
</div>
